@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor .cm-content {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  font-size: 16px;
}

.cm-gutterElement {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  font-size: 16px;
}
